html {
    font-size: 62.5%;
    font-family: var(--body-font);
    color: #fff;
}

body {
    background: url('../images/bg-desktop.svg') var(--primary-dark-color) no-repeat center;
    background-size: cover;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100vw;
    padding: 6rem;

    display: flex;
    justify-content: start;
}

.header img {
    height: 5rem;
}

.container {
    width: 100vw;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.container img {
    max-width: 709px;
    max-height: 506px;
    width: 50%;
    height: auto;
    margin-left: 6rem;
}

.container .information {
    width: 40%;
    margin-left: 4rem;
}

.container .information h1 {
    font-family: var(--heading-font);
    text-transform: capitalize;
    font-size: 4.5rem;
    font-weight: 600;
    margin: 40px 0 30px;
}

.container .information p {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 5rem;
}

.container .information .btn-register {
    background-color: #fff;
    color: var(--primary-dark-color);
    font-family: var(--heading-font);
    font-size: 2rem;
    font-weight: 400;
    padding: 1.5rem 7rem;
    border-radius: 5rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.container .information .btn-register:hover {
    background-color: var(--primary-soft-color);
    color: #fff;
}

.footer {
    width: 100vw;
    padding: 2.5rem;
}

.footer .social {
    width: auto;
    display: flex;
    justify-content: right;
    margin-right: 2rem;
    align-items: center;
    gap: 2rem;
}

.footer .social li {
    
    border: 1px solid #fff;
    border-radius: 50%;
    transition: 0.3s;
    text-align: center;
}

.footer .social li a i {
    font-size: 2.5rem;
    padding: 1rem;
    color: #fff;
    transition: 0.3s;
    height: 45px;
    width: 45px;
}

.footer .social li a:hover i {
    color: var(--primary-soft-color);
}

.footer .social li:hover {
    border: 1px solid var(--primary-soft-color);
} 
